[2019-12-10 22:27] BrianGilbert opened #1 "mdns is not in the default tasmota configuration"
I was investigating this and asking questions in the Tasmota Discord and found that mdns needs to be enabled and compiled into Tasmota by the user

[2019-12-10 22:31] tim-hellhake commented on #1
I'm using the latest version `7.1.2` of the firmware.
The support for mDNS is included in the firmware, but it's disabled by default.
The [README.md](https://github.com/tim-hellhake/tasmota-adapter/blob/master/README.md) describes how to activate it.
However, I'm planning to add MQTT support as well.
Which tasmota devices are you currently using?

[2019-12-10 22:37] blakadder opened #2 "Tasmota team member"
Hi!

Not an issue :D

I'm one of the Tasmota team members, just touching base and offering future assistance when needed. You're welcome to seek us out on our Discord server https://discord.gg/Ks2Kzd4

[2019-12-10 22:43] BrianGilbert commented on #1
I was only looking at this as ESPHome support isn't in WebThings Gateway yet, but it appeasr there is a low sucess rate to switch from ESPHome to Tasmota firmware via OTA, so I really hope your planning to populate the empty repo you have for ESPHome? :)

[2019-12-10 22:44] tim-hellhake commented on #2
Hi!
Thank you for the invitation! 😄

[2019-12-10 22:44] #2 closed

[2019-12-10 22:45] tim-hellhake commented on #1
That was the plan 😬

[2019-12-11 21:31] tim-hellhake opened #3 "Add MQTT support"

[2019-12-11 21:34] tim-hellhake commented on #1
I added an issue for the MQTT support: #3.
I'm closing this now.

[2019-12-11 21:34] #1 closed

[2019-12-15 23:40] PPCM opened #4 "Can add device to WebThings Gateway"
I am not able to see the Tasmota device in WebThings Gateway, even after adding to the console of Tasmota the command "SetOption55 ON".

Any idea to see the device when adding in the gateway?

[2019-12-15 23:45] tim-hellhake commented on #4
Could you please attach the logs.
That would help me to understand what is happening.

[2019-12-16 00:04] PPCM commented on #4
Thanks for the quick answer.

In Tasmota device, here are informations:
[code]

In Webthings Gateway, the only log for tasmota-adapter is
[code]

[2019-12-16 00:38] tim-hellhake commented on #4
Strange, there should be more logs.
Please restart the adapter and look for log messages which begin with _Discovered http service at_.
For tasmota devices they should be followed by messages which begin with _Discovered device at_.

[2019-12-16 00:41] PPCM commented on #4
When you talk about adapter are you talking about the Tasmota device or the Webthings Gateway?

[2019-12-16 00:53] PPCM commented on #4
Here are start logs of the Tasmota device:

[code]

if it can help...

[2019-12-16 01:00] tim-hellhake commented on #4
Sorry for the confusion.
With _adapter_ i meant the tasmota adapter.
You can disable and enable it in the _add-ons_ section of the gateway.

Btw. do you already have a MQTT server running for tasmota?

[2019-12-16 01:45] PPCM commented on #4
I never had a MQTT server on this network.

When I disable/enable the tasmota add-on, it is more verbose:
[code]
The last discovered device is the Tasmota Adapter

And when I try to add a component, here is the logs:
[code]

And at the end, no Tasmota adapter to add at the list of devices

[2019-12-16 23:28] tim-hellhake commented on #4
I looks like the adapter saw the device but did not recognize it as tasmota device.

A new version of the adapter is available.
Please try to add the things again after the update and attach the new logs.

[2019-12-17 07:14] PPCM commented on #4
In fact, the add-on doesn't see the Tasmota adapter, it see other devices and for one of them, the add-on do a bad guess:

[code]

The name of the Tasmota adapter is `tasmota-6492`

Logs on the console of the Tasmota adapter:
[code]

Versions of different elements:
Mozilla WebThings Gateway : 0.10.0
Tasmota add-on : 0.1.1
Tasmota adapter : 7.1.2

[2019-12-21 19:41] tim-hellhake commented on #4
Strange, it already worked [here](https://github.com/tim-hellhake/tasmota-adapter/issues/4#issuecomment-565873223).
Did you change anything since then?

Which one do you mean?
As far as I can see, the adapter found `PinPinNASQ01` and `octopi` and considered both not to be a Tasmota device.

On which device is the Tasmota firmware running?

[2019-12-22 21:40] neil969 opened #5 "Plugs detetected as "light" and releted issues"
I have two UK plugs flashed with Tasmota that are detected quite happily by the adapter.
The issue is that they are detected as "light" ( so the gateway gives them the lightbulb active icon ). In the gateway if you say they are a custom item, the ability to toggle from the main screen goes away.

Is it possible to detect them as power plugs?
The two plugs are:

-   A Koogeek KLUP1 https://template

[2019-12-22 21:45] neil969 opened #6 "Support for the inputs & outputs of a Witty Cloud Dev board"
I have a Witty cloud development board     ( https://templates.blakadder.com/witty_cloud.html ) flashed with Tasmota, and would it be possible to have the inputs & outputs of this device passed back to the gateway? It is detected ( of course!) as a "light" and toggles it's light on and off quite happily

I actually want to be able to trigger "rules" with feedback from the device.

[2019-12-22 21:46] tim-hellhake commented on #5
Sure, I'll change it.

This shouldn't be possible unless the device advertises itself under two different names.
Could you please attach the logs?
For every Tasmota device, there should be a message like `Discovered Tasmota at`.

That's very strange.
The adapter is never asking for a pin.

[2019-12-22 22:31] tim-hellhake commented on #5
I just checked that using the template you supplied.
It should be possible but I have no device to check if it's actually working.
You have to try it for me 😄

[2019-12-22 22:32] tim-hellhake commented on #6
This seems to be a bit more complicated than the power measuring in https://github.com/tim-hellhake/tasmota-adapter/issues/5 but i'll try.

[2019-12-23 01:33] PPCM commented on #4
Nothing change on my side

You are right, I made a mistake, sorry. Other founded devices are well rejected

The name of the Tasmota device is `tasmota-6492` and the adapter doesn't see it
But previously, it was seen (previous version of the adapter???)

I confirm, the adapter see some of my network devices, not all of them, for exemple my router is not seen
The Google Home is not seen too, but it

[2019-12-23 01:44] PPCM commented on #4
After lot of tries, the adapter can see the Tasmota device, here are logs of the Gateway
[code]

To have this, I rebooted the Raspberry PI, to see if something changes

So now, the Tasmota device is seen by the adapter (cf logs), but nothing on the gateway interface

[2019-12-23 12:29] neil969 commented on #5
The Plugs now show as smart plugs ;)
I removed one and it errored once when I tried to re-add it saying "cannot save" .. The funny thing is , once I tried to search again  ( after power cycling the  Koogeek PLUG) the Sonoff "asking for PIN" device disappeared..  I don't understand it either!!  - maybe there was a database error?
Now the Koogeek Plug is still not showing any data in it's "thing" I

[2019-12-23 13:56] neil969 commented on #6
Thanks ;)
the result seems to be that there are still no properties from it (same as for the KLUP1)  nothing new
I don't know what I can send you to help - there is only the MAIN log that I know of, and that seems to say little of any interest.. is there Anything else I can do?

[2019-12-23 16:41] tim-hellhake commented on #5
Can you reproduce this behavior or was it a one-time issue?

The last update only contained the plug fix.
I'm still working on the power data.

[2019-12-23 16:43] tim-hellhake commented on #6
Sorry for the confusion.
I haven't started working on this yet.
I'll do it after the power measuring is finished.

[2019-12-23 22:02] tim-hellhake commented on #4
[code]

There it is.
The tasmota device is rejected because of the missing authorization.
I'll add user and password fields to the settings.

[2019-12-24 13:59] PPCM commented on #4
Great, things evolve!!!

The adapter updated to 0.2.1

I don't have fields for user and password to the settings (the gateway was restarted to be sure), but now on logs I have:

[code]

[2019-12-24 21:53] neil969 commented on #5
"Can you reproduce this behavior or was it a one-time issue?"
seems to be a one time thing:)
Xmas will have me tied up with family things for a few days, but i will continue to "play"  - & Sorry I misinterpreted what you said , and didn't' realise that you were still working on data :)  Sorry about that & thanks for the work you do!

[2019-12-24 21:58] neil969 commented on #5
OHH!! I just noticed that you committed changes and it is working like MAGIC for the Koogeek Plug now!  :)  - I hadn't looked at it all day ! Brilliant!

[2019-12-24 22:11] tim-hellhake commented on #5
Enjoy your time with the family 🙂.

No need to apologize 😄.

I always reference the issue in the commit messages so everyone can see the current progress of the issue.

Almost like a little Christmas present 😬.
Sometimes a hard reload (Ctrl + Shift + r) of the things page is required to see the changes.
Is there anything left, or can I close the issue?

[2019-12-24 23:57] tim-hellhake commented on #4
The last update (0.2.1) was about devices with power metering.
With release 0.3.0 there should be a `password` field in the settings of the addon.

[2019-12-24 23:58] tim-hellhake commented on #4
The last update (0.2.1) was about devices with power metering.
Release 0.3.0 introduces a password field in the settings of the addon.
This should solve the problem.

[2019-12-24 23:59] tim-hellhake commented on #4
The last release (0.2.1) was about devices with power metering.
Release 0.3.0 introduces a password field in the settings of the addon.
This should solve the problem.

[2019-12-25 12:00] PPCM commented on #4
Much much much better
It takes a long time to discover the Tasmota device, but now it works fine
Thanks a lot...

[2019-12-25 12:32] PPCM opened #7 "Configure timers"
Using the API of Tasmota, is it possible to add a new feature to enable to configure internal timers of the Tasmota device?

The configuration should be evalaible directly with the device, but with rules too

[2019-12-26 15:45] tim-hellhake commented on #7
According to the docs, it shouldn't be a problem.
I'm not sure how to represent the timer as a device, though.
How would you use the timer in a rule?

[2019-12-26 16:01] tim-hellhake commented on #4
I can confirm that the discovery takes some time after restarting the tasmota device.
This also happens on config changes.
According to wireshark the device needs a few minutes before it responds to mDNS queries.
When it starts working, the discovery is really fast though.
I the problem persists this may be related to your network setup.
Would it help you if you could add the devices manually?

[2019-12-28 18:36] neil969 commented on #5
Yes the issue can be closed - Thanks :)
I got 4 more Koogeeks for Xmas, - flashed them all with Tasmota OTA and it is like magic :)

[2019-12-28 18:36] #5 closed

[2019-12-29 00:54] tim-hellhake commented on #6
@neil969
That should work now.
Can you test it?

[2019-12-31 21:58] tim-hellhake opened #8 "Support dimmable lights"

[2020-01-06 14:27] PPCM commented on #4
In fact, I notice that if the gateway doesn't ping tasmota device when it starts, it still stays disconnected
When I restart the gateway server (Raspberry Pi) it takes a very long time before the server can ping again tasmota devices

It will be great if the add-on tries periodically if Tasmota devices are still connected or disconnected
For me, if I restart the gateway, I have to remove then add

[2020-01-06 14:38] PPCM commented on #7
Great if it is possible
To represent it, a suggestion:
In details of the tasmota device, all 16 timers can displayed with these informations:
- Actions
- Arm
- Repeat
- Style of time setting / action time
- List of days for action

And in rules, for each tasmota device, properties can be completed with list of timers id and actions like:
- Arm
- Disable arm
- Repeat
- Disable repeat

[2020-01-06 22:53] tim-hellhake opened #9 "Remember devices to speed up discovery"

[2020-01-20 05:27] Catalin84 opened #10 "Sonoff/ Tasmota TH10 -Sonoff TH Sensor Si7021"
Hi is there a chance that you can make this device sensor with Webthings?
Now the device TH10 flashed with Tasmota works with Websthings but dosent get the values of the temperature and humidity sensor.
The Sensor i use is SONOFF SI7021

[2020-01-20 05:28] Catalin84 commented on #4
Try to restart the Tasmota device.

[2020-01-29 13:16] tim-hellhake commented on #6
@neil969 Any news on that?

[2020-01-29 15:25] off-my-lawn opened #11 "RGBW light support"
I have an RGBW light (Mirabella Genio brand) flashed with tasmota 8.1.

Three result of the 'Template' command is.
16:12:32 RSL: stat/tasmota/RESULT = {"NAME":"GenioBulbRGB","GPIO":[255,255,255,255,37,40,255,255,38,255,39,255,255],"FLAG":15,"BASE":18}

On a brief investigation into the code in src/tasmota-adapter.ts

          const response = await getStatus(host, password, 'Color');
          ..

[2020-02-05 22:39] tim-hellhake commented on #11
You are right.
For an RGBWW device, the string would be ten chars long.
I already had plans to add it, but I'm not sure how exactly.
The gateway usually gives you a color picker to control a light bulb, which results in a RGB value.
I don't have the values for the other two channels.
How would you prefer to control them?
I could simply add two new properties to the device, but it wouldn't fit real

[2020-02-05 22:48] tim-hellhake commented on #10
Sure, I'll see what I can do!
But I would need you to test it as I don't have the sensors.

[2020-02-05 23:42] off-my-lawn commented on #11
I'm planning to send you a pull request later today to deal with some of this. (I'm at the start of my work day)

What I have in my branch includes a property for brightness and handles the 4 channel colour globes. Although it doesn't use the white channel when white is requested yet.

I have bought a 2 channel globe that supports the colour temperature property, but haven't managed to get it scan

[2020-02-06 08:35] Catalin84 commented on #10
I will test it as much as you need. It will be a good thing for us.
Just let me know when you need me. I have a few days off !

[2020-02-07 08:44] Catalin84 commented on #10
![image](https://user-images.githubusercontent.com/57527589/74014042-83993780-4996-11ea-9a0e-8e4daabfceb1.png)
I guess the temp/hum sensor is discovered as LED! i have only 2 sonoff flashed with tasmota. One is basic and one TH10/16 with sensor. ON/OFF are working on both but on discovery finds LED like i said maybe is the sensor!

[2020-02-10 21:20] tim-hellhake commented on #11
Version `0.4.5` is out now.
Can you please check if everything works fine?

[2020-02-10 22:00] off-my-lawn commented on #11
Yes it's working.

I did notice a little strange behaviour when turning off. The (mobile) UI showed it changing state 3 times. Nothing bad though.

I will say it's a bit of a shame about the brightness. On the mobile UI I only get to choose from 7 full brightness and black. If I care enough I'll find the team doing a webpage and submit an issue there.

[2020-02-10 22:03] tim-hellhake commented on #11
@mrstegeman is currently working on an issue that might include the BrightnessProperty mozilla-iot/gateway#2425.

[2020-02-10 22:10] tim-hellhake opened #13 "The (mobile) UI changes the state 3 times when turning the light off"

[2020-02-10 22:13] tim-hellhake commented on #11
I'm still not sure why the ` Power` command is working for you.
Maybe it's device-specific.

I created a new issue for this: https://github.com/tim-hellhake/tasmota-adapter/issues/13.
I'm closing this now as the light is working.

[2020-02-10 22:13] #11 closed

[2020-02-10 22:13] tim-hellhake opened #14 "Support for CT lights"

[2020-02-11 01:51] off-my-lawn commented on #14
I do have one of these at home flashed and ready to go. Just haven't managed to make the adaptor see it yet. (Yes, I have setoption55 on)

[2020-02-11 22:27] tim-hellhake opened #15 "Add option to add devices manually"

[2020-02-11 22:29] tim-hellhake commented on #14
I'll add the option to add them manually: https://github.com/tim-hellhake/tasmota-adapter/issues/15

[2020-02-16 22:28] #15 closed

[2020-02-18 07:12] off-my-lawn commented on #4
In my case I had problems with this because tasmota did not enable mDNS when calling SetOption55 1. This could be verified on the Information page which listed mDNS as disabled. I had to reflash my device to make it work.

[2020-02-18 22:37] #8 closed

[2020-02-20 09:51] off-my-lawn opened #17 "Use white channel on RGBW lights"
This is the last major feature I have been missing after switching from the stock firmware. Using the white channel on RGBW lights in order to use full brightness.

Pull request incoming ;)

[2020-02-20 23:29] tim-hellhake commented on #14
Update `0.6.1` is out now.
Can you please test if the CT lights work properly?

[2020-02-20 23:32] tim-hellhake commented on #6
I'm closing this now.
Please open a new issue if you have any problems.

[2020-02-20 23:32] #6 closed

[2020-02-20 23:38] tim-hellhake commented on #4
@PPCM
I added the option to add devices manually: https://github.com/tim-hellhake/tasmota-adapter/issues/15.
There is also an issue for speeding up device discovery at start-up by remembering them: https://github.com/tim-hellhake/tasmota-adapter/issues/9.
I'm closing this now as the original problem is solved.

[2020-02-20 23:38] #4 closed

[2020-02-20 23:53] tim-hellhake commented on #14
How did you manage to fix it?

[2020-02-21 00:42] off-my-lawn commented on #14
For some reason mDNS wasn't enabling even though I repeatedly enabled it. I ended up reflashing the globe and it started working.

[2020-03-02 11:17] steko71 opened #19 "Sonoff 4CH oder POW with Temperature/Humidity Sensor"
Hello Tim,
can you integrate the Sonoff 4CH with Tasmota and temperature sensor at the GPIO in WebThings?
And to display the values of Sonoff POW (voltage / current / power)?
With Domoticz this is not a problem via MQTT. If you can do that WebThings would be a dream ... ;-)
I would like to test it!

Greetings Stefan

[2020-03-02 11:27] tim-hellhake commented on #19
Hi @steko71,

I'll try but unfortunately, I have no device to test it with.
Maybe you could give me some details.
What type of sensor are you using?
How do you connect the sensor to the 4CH?
Are the values shown on the web page?
What is the result of the `template` command?

There is an [issue](https://github.com/tim-hellhake/tasmota-adapter/issues/3) for MQTT but so far most of the people seem to

[2020-03-02 12:38] steko71 commented on #19
Sensor: DS18B20 at GPIO2
![grafik](https://user-images.githubusercontent.com/61690092/75677089-f0001180-5c8a-11ea-945d-e8bab27cbf82.png)

[2020-03-02 21:45] tim-hellhake commented on #19
I configured my device with the 4CH template and selected `DS18x20` on `GPIO2` but I still can't see the sensor.
Could you please open http://[device]/?m=1 in your browser and send me the result?

![image](https://user-images.githubusercontent.com/17127122/75720368-ab01cc80-5cd6-11ea-8458-b1477375d48d.png)

[2020-03-02 21:50] tim-hellhake commented on #19
This should already work.
It was added [here](https://github.com/tim-hellhake/tasmota-adapter/issues/5) for the `Koogeek KLUP1`.

If you send me the output of http://[device]/?m=1 of your POW device I could look for differences.

[2020-03-02 22:00] tim-hellhake commented on #10
I tried to use the following template: https://templates.blakadder.com/sonoff_TH.html.

Unfortunately, `Sonoff TH` is not available in the drop-down menu.
Do you have the standard firmware?
Could you please open `http://[device]/?m=1` for me and send me the output?

[2020-03-03 11:14] steko71 commented on #19
4CH: {t}{s}DS18B20 Temperatur{m}25.8°C{e}{t}OFFOFFOFFOFF

POW: {t}{s}Voltage{m}229 V{e}{s}Current{m}0.516 A{e}{s}Power{m}75 W{e}{s}Apparent Power{m}118 VA{e}{s}Reactive Power{m}91 VAr{e}{s}Power Factor{m}0.63{e}{s}Energy Today{m}0.445 kWh{e}{s}Energy Yesterday{m}0.870 kWh{e}{s}Energy Total{m}12.386 kWh{e}{t}ON

[2020-03-03 11:28] tim-hellhake commented on #19
Excellent!
Now I can create test cases based on the data.
You have to test it for me, though.

[2020-03-03 13:40] steko71 commented on #19
thank you, i like to test! ;-)

[2020-03-03 19:48] tim-hellhake commented on #19
Ok, that's strange.
I added the data from your sonoff pow to the unit test without creating any test errors.
I'll add some more logs to see what's happening.

[2020-03-03 20:55] tim-hellhake commented on #19
It turns out that there is already a lot of logging in place.
Can you please restart the adapter and attach the log to the issue?
I'm searching for something like `Parsed data:`

Is the Sonoff POW working properly besides the missing power stats?

[2020-03-04 19:02] steko71 commented on #19
Hi Tim,
I updated to 0.7
after that, things that had already been registered could no longer be removed.
So WebThings and Sonoffs flashed again. POW now shows Power / Voltage / Current! Shifting no longer works. When I switch over the Tasmota interface the status is shown in WebThings! Registered things cannot be removed again.

Temperature on the 4CH is not displayed. Only 1 switching channel wor

[2020-03-04 19:07] steko71 commented on #19
Do I have to enter the Tasmota IP under "List of device"?

[2020-03-04 19:10] tim-hellhake commented on #19
@steko71
You can contact me via https://chat.mozilla.org.
There is also an `iot` room for the gateway.

[2020-03-04 19:28] steko71 commented on #19
I'm in the room, how can I write directly with you?

[2020-03-04 19:31] tim-hellhake commented on #19
There are a lot of issues in the gateway repo about this.
Usually rebooting the gateway helps.

Currently, only one channel is supported.
Can you check if you can control the other three channels with the commands `power2`, `power3` and `power4`?

[2020-03-05 22:34] tim-hellhake commented on #19
The new update is on the way.
You can activate the support for multiple channels in the settings.

[2020-03-06 18:20] tim-hellhake opened #20 "Switch all channels with the device symbol"

[2020-03-06 18:20] tim-hellhake opened #21 "Power metrics are not shown when password protection is on"

[2020-03-06 18:23] tim-hellhake opened #22 "Expose metrics for Energy Today, Energy Yesterday, Energy Total"

[2020-03-06 18:35] tim-hellhake commented on #19
As mentioned in matrix the Sonoff 4CH is now supported.
The temperature sensor is also supported but it seems to have problems with the password protection (https://github.com/tim-hellhake/tasmota-adapter/issues/21).

Additionally, there were two new ideas:
- https://github.com/tim-hellhake/tasmota-adapter/issues/20
- https://github.com/tim-hellhake/tasmota-adapter/issues/22

I'm closing this now

[2020-03-06 18:35] #19 closed

[2020-03-06 18:42] tim-hellhake opened #23 "Remove .local postfix from device name"

[2020-03-06 18:44] tim-hellhake opened #24 "Remove on from property title"

[2020-03-10 22:02] #23 closed

[2020-03-10 22:02] #24 closed

[2020-03-10 22:03] tim-hellhake commented on #24
@steko71 this should be fixed now

[2020-03-10 22:03] tim-hellhake commented on #23
@steko71 this should be fixed now

[2020-03-14 11:48] Catalin84 commented on #10
hello this is what i have
{t}{s}SI7021 Temperature{m}23.9°C{e}{s}SI7021 Humidity{m}43.2%{e}{t}OFF

[2020-03-14 11:49] Catalin84 commented on #10
![image](https://user-images.githubusercontent.com/57527589/76681342-a7394880-65fa-11ea-967f-f42e4832a4c7.png)

[2020-03-14 11:58] tim-hellhake commented on #10
If you are on version `0.9.0` of the addon there should be an option for temperature support in the settings of the addons.
After that, the device should have a temperature property.

[2020-03-14 14:53] Catalin84 commented on #10
Well all i can say is that is working:)
![image](https://user-images.githubusercontent.com/57527589/76684369-44ed4180-6614-11ea-8d63-93b325a1fb39.png)
Thanks! i will test it for more and i can close the issue:)

[2020-03-14 14:54] tim-hellhake commented on #10
Nice!

Humidity support is still missing.
I would suggest you wait until added it.

[2020-03-14 15:09] Catalin84 commented on #10
It will be an update for it soon?

[2020-03-14 15:15] tim-hellhake commented on #10
I think I will add support for it today but it may take a day until the update is approved.

[2020-03-14 15:16] Catalin84 commented on #10
Great, i will wait and i will come back with a feedback! Thank you for your hard work!

[2020-03-14 22:58] tim-hellhake commented on #10
As soon as the PR is merged you can test the new update.

[2020-03-15 10:57] Catalin84 commented on #10
![image](https://user-images.githubusercontent.com/57527589/76700067-3d817300-66bc-11ea-93cc-36ac3f4c7730.png)
All working perfect! i see that if i reset the homebridge it dosent connect to devices. i changed from http://ip   to normal ip and is ok.  I will come back later with other issues if they are. But for the moment i will close it. So ! ALL GOOD!

[2020-03-15 11:35] #10 closed

[2020-03-17 22:07] #22 closed

[2020-03-17 22:07] tim-hellhake commented on #22
@steko71 this should work now

[2020-03-17 22:08] #14 closed

[2020-03-19 14:11] Catalin84 opened #25 "Color light (Wemos D1 mini with neopixel) has no brightness property"
Hi i use Wemos D1 R1 mini with Neopixel led band.
Works OK BUT, i dont have dimmer button.
![image](https://user-images.githubusercontent.com/57527589/77076115-084a8d00-69fc-11ea-9c9a-fa153d67f6f5.png)
![image](https://user-images.githubusercontent.com/57527589/77076164-18626c80-69fc-11ea-9515-c11619507ac2.png)
![image](https://user-images.githubusercontent.com/57527589/77076255-3b8d1c00-69fc-11ea

[2020-03-19 21:23] tim-hellhake commented on #25
That's actually intended.
There were a lot of discussions in the IoT team on how to handle color bulbs.
You can read parts of it here: https://github.com/mozilla-iot/gateway/issues/1378.
Because a lot of users asked for it, this will change in release 0.12.
I'm currently working on adding support for it.
As I have no RGB hardware, I would be happy if you could test it for me.

[2020-03-20 13:02] Catalin84 commented on #25
I can test it. Let me know when i can.

[2020-03-22 11:06] Astiolo opened #26 "Support for Arlec smart plug (PC190HA)"
I found some instructions on how to flash it with Tasmota which I managed to do with version 8.1.0.2.

This addon wasn't able to detect the device even with 'SetOption55 ON' so I entered the IP address in the configuration (needed to ensure I didn't start with http://) and it's now at the point where it detects it but fails to save.

I believe this is the relevant part of the log, and that the jso

[2020-03-22 11:39] Astiolo commented on #26
Actually, after that it has started working. I did power cycle the device but I'm not sure if that helped. It's there now without needing to try to find it (just before it wasn't there until I searched and would fail to save), and just works as expected.

The log has a bunch of FetchErrors (EHOSTUNREACH) now but I assume that's just because it was powered off for a bit. There are also a number of

[2020-03-22 11:39] #26 closed

[2020-03-22 22:59] tim-hellhake commented on #25
The update introduces a new experimental option for the color mode.
If you activate it you should see a brightness property on your color device.
As soon as the PR is merged you can test it.
Please let me know if everything works.

[2020-03-22 23:00] tim-hellhake commented on #20
@steko71 This should work now

[2020-03-22 23:00] #20 closed

[2020-03-22 23:01] tim-hellhake commented on #17
@off-my-lawn
I added your PR to the last update.
There should be an experimental option in the settings to use it.

[2020-03-22 23:01] #17 closed

[2020-03-27 18:30] tim-hellhake commented on #25
@Catalin84 Did you have a chance to test it?

[2020-03-28 22:07] tim-hellhake commented on #25
@off-my-lawn Fyi

[2020-03-31 21:04] tim-hellhake commented on #21
@steko71
The next update should resolve this issue.
Please open a new PR if there are still problems.

[2020-03-31 21:04] #21 closed

[2020-04-20 23:03] tim-hellhake commented on #25
@Catalin84
I'm closing this now.
Feel free to open a new issue if something is not working.

[2020-04-20 23:03] #25 closed

[2020-05-19 10:13] preslaff opened #27 "BME280 - didn't getValue of Pressure and Dew point properties"
Hi,

I'm using the BOSCH BME280 combined sensor with tasmota connected to Mozilla IoT Pi hub. I installed the Tasmota plugin and set the correct IP of the Tasmota, but I'm only seeing the Temperature and Humidity properties data from the sensor. In addition I'm seeing an on of switch when rolling through the sensor details.

The logs show that the adapter announces all the properties:

"2020-05-19

[2020-05-19 10:23] tim-hellhake commented on #27
Thanks for the hint!
Currently, there are only properties for `temperature` and `humidity`.
I'll add them today.

[2020-05-19 10:23] tim-hellhake commented on #27
Thanks for the hint!
Currently, there are only properties for temperature and humidity.
I'll add them later.

[2020-05-19 21:58] tim-hellhake commented on #27
After installing the new update you should see properties for `Dew point` and `Pressure`.
Unfortunately, I have no hardware to test it.
Can you please check if it's working for me?

The tasmota is recognized as `PowerPlug`.
I need to separate the sensor logic from the power switch logic for this.

[2020-05-20 06:38] preslaff commented on #27
I will test it tonight, cause messed a little things up with the Pi and give feedback ASAP. Tnx!

[2020-05-20 18:20] preslaff commented on #27
Adds adapter, but with none properties:

`2020-05-20 19:15:56.253 INFO   : Loading add-on: tasmota-adapter
2020-05-20 19:15:59.414 INFO   : tasmota-adapter: Opening database: /home/pi/.mozilla-iot/config/db.sqlite3
2020-05-20 19:16:00.873 INFO   : tasmota-adapter: Loading add-on tasmota-adapter from /home/pi/.mozilla-iot/addons/tasmota-adapter
2020-05-20 19:16:01.194 ERROR  : Invalid message recei

[2020-05-20 18:51] preslaff commented on #27
Sorry for the messed log. I'm attaching the whole log file

[run-app.log](https://github.com/tim-hellhake/tasmota-adapter/files/4658728/run-app.log)

[2020-05-20 22:14] tim-hellhake commented on #27
No Problem :)

According to the log there was a problem with the connection to the tasmota.
Are you sure `79` is the correct port?

[2020-05-21 04:42] preslaff commented on #27
I will never know how this even happened! :) I corrected the port and all seems OK. All the properties of the sensor are visible. Screenshot attached. Thank you very much!
![100478283_576538146607796_2957303833354567680_n](https://user-images.githubusercontent.com/1750655/82524055-98a96900-9b36-11ea-99b4-d42d5c6a271c.jpg)

[2020-06-07 20:38] tim-hellhake opened #29 "Sensor node is recognized as power plug"

[2020-06-07 20:39] tim-hellhake commented on #27
It just happened to me too 😬
I accidentally hit the increase button on the right side of the input.

Awesome!

I created a new issue for this (#29).
As everything other than that seems to work I'll close this issue.

[2020-06-07 20:39] #27 closed

[2020-06-07 20:49] tim-hellhake commented on #7
I can only expose properties in the detail view of the device.
That would add 80 (16 * 5) additional properties to every device.
The other possibility would be an extra device per timer.
But that means 16 additional devices per tasmota device.
Do you really need to use the built-in timers?
There is `timer` addon available you can use in the rule system of the gateway.

[2020-06-09 09:50] off-my-lawn opened #30 "Support for devices with multiple outputs"
Just bought myself a [power board](https://templates.blakadder.com/mirabella_genio_I002340.html)

Using the template {"NAME":"Genio i002340","GPIO":[56,0,0,0,21,22,0,0,23,17,24,25,0],"FLAG":0,"BASE":18} the Web UI gives me 5 independent controls. One for each power point plus the USB ports.

When configuring using the tasmota adapter I can only control the state for the first one.

`10:41:33 RSL:

[2020-06-10 18:40] tim-hellhake commented on #30
Have you enabled `multiple relay channels` in the config?
After that, you should see all 5 devices.

[2020-06-10 18:47] tim-hellhake commented on #30
The state of the properties might not be updated, though.
I'm fixing this at the moment.

[2020-06-14 16:08] tim-hellhake commented on #30
Did you have a chance to test it @off-my-lawn?

[2020-06-14 16:10] tim-hellhake commented on #7
I'm closing this for now.
If you still need it please let me know.

[2020-06-14 16:10] #7 closed

[2020-06-15 10:09] theo-inf commented on #30
I'm not sure if my advice is in the right place. If it is wrong, I apologize.

I also use a socket strip with tasmota firmware (AOFO 4CH with USB).

is there a possibility to change the names of the individual channels? Because with my power strip the "Channel 1" button switches all channels and not the "All" button. Furthermore you don't always know what is connected to which channel. Speaking na

[2020-06-15 13:31] off-my-lawn commented on #30
Sorry, I haven't had a chance to look. I think the errors I'm getting are something going wrong on my home wifi (I can't get a single device to operate through the adapter). Just haven't had a chance to properly investigate.

With two devices powered on I get this in my logs. (Web UI for both devices is working)

2020-06-15 23:20:27.323 INFO   : About to call startPairing on TasmotaAdapter
2020-06

[2020-06-15 21:08] tim-hellhake commented on #30
@theo-inf

No need to apologize, I'm always happy to help :)

Unfortunately, that's currently not possible.
The gateway knows `devices` and `properties`.
You can only change the `title` of a `device` in the UI of the gateway.
The channels are `properties` of a tasmota `device`.
I could change the `name` of the `property` in the adapter, but there is no UI where you could let me know which names I

[2020-06-15 21:15] tim-hellhake commented on #30
2020-06-15 23:20:27.467 ERROR : tasmota-adapter: type: 'system',
2020-06-15 23:20:27.467 ERROR : tasmota-adapter: errno: 'EINVAL',
2020-06-15 23:20:27.468 ERROR : tasmota-adapter: code: 'EINVAL' }

`EINVAL` is a standard Linux error constant for `invalid argument`.
If that happens on a connect call there is usually a problem with the supplied address or address family.
As I didn't touch the networ

[2020-06-16 02:15] off-my-lawn commented on #30
In short, it was a problem with my pi. I could connect to it but it couldn't connect to anything. Possibly because it was confused with both ethernet and wifi.

Now that I can see the result, it's not quite what I was hoping for.

If I scan a light I get two devices that I can add even though it's physically one device. (eg. tasmota-7103 and tasmota-7103.local-color)

In my ideal world it would gi

[2020-06-16 20:58] tim-hellhake commented on #30
I already thought about removing the redundant device, but I wasn't sure if it breaks something.

I think I could add an option to create a dedicated device for every channel.
It won't be the default setting because some people may already rely on the current configuration.
Would that work for you?

Using the `friendlyname` as `title` seems to be a good idea in general.
Thanks for the tip.

As I u

[2020-06-18 00:17] off-my-lawn commented on #30
From Tasmota 8.2.0 friendly name reports the name for all channels.
eg.
`01:10:57 RSL: RESULT = {"FriendlyName1":"Lounge Heater","FriendlyName2":"Tasmota2","FriendlyName3":"Tasmota3","FriendlyName4":"Google Home Mini","FriendlyName5":"Tasmota5","FriendlyName6":"Tasmota6","FriendlyName7":"Tasmota7","FriendlyName8":"Tasmota8"}`

From Tasmota 8.3.1 there is a command DeviceName
eg.
`01:13:57 RSL: RES

[2020-06-22 22:26] tim-hellhake commented on #30
With the next update, the adapter should use the corresponding FriendlyName as the name of the channel property.
If there is only one channel then the FriendlyName is used as device name.

@theo-inf
Would this solve your problem or do you need to change the names in the gateway?

@off-my-lawn
Can you please test if it works for you?

[2020-08-02 21:21] tim-hellhake commented on #30
@off-my-lawn Did you have a chance to test it?

[2020-08-03 21:25] tim-hellhake opened #32 "Add HumiditySensor capability"
mozilla-iot/schemas#66

[2020-08-10 21:48] #32 closed

[2020-08-21 08:16] madb1lly opened #33 "If all channels are off the Thing should be off"
Hello @tim-hellhake,

First, thank you for making the adapter, very helpful 😃

I'm using the Tasmota adapter with a Sonoff TH16 which I've added an extra output to to control another relay. I am seeing an issue where if both output channels are off the overal Thing is not shown as off. Is it possible to configure the "All" status to = the OR of all the output channels?

Cheers 🙂

[2020-08-21 08:40] madb1lly opened #34 "Outputs become out of sync if Tasmota UI is used"
Hello @tim-hellhake,

I'm noticing an issue where the outputs on the WebThing UI are becoming out of sync with the outputs on the Tasmota UI. This is most obvious if I toggle the outputs on the Tasmota UI, because when I do this there is a delay (probably based on how I configure the adapter, I have it set to 10000ms) between the Tasmota outputs changing and the Gateway catching up with these chan

[2020-08-27 20:32] tim-hellhake commented on #30
I'm closing this now.
If you have any further problems please report back.

[2020-08-27 20:32] #30 closed

[2020-08-27 21:16] tim-hellhake commented on #33
Hi @madb1lly :smile:

Sorry for the late answer.
The adapter uses the `POWER` command to set/get the channel values.
Depending on the number of channels, the command behaves a bit differently.
Could you please send me the output of the `template` command of your TH16 so I can try to replicate the behavior here?

[2020-08-27 22:00] tim-hellhake commented on #34
Hi again :grimacing:,

I increased the delay in my gateway to 10 seconds but the delay was just as expected.

Sounds like there is a problem with the communication between gateway and adapter.
Do you have other quirks with your gateway?

Could you please go to the tasmota console (`http://<IP>/cs`) and check the log?
There should be something like this every 10 seconds in your case:
[code]
Additio

[2020-08-27 22:29] tim-hellhake commented on #34
The next update will also log the execution time of the HTTP requests.
Maybe one of the requests is extremely slow and resets the gateway to an old value.

[2020-08-28 10:02] madb1lly commented on #33
Hello @tim-hellhake,
No problem on any delay, this is your hobby and I'm not paying you 😆

Template command gives this output:
[code]

I don't know why that line won't format correctly in markdown...?

Cheers 🙂

[2020-08-28 11:58] madb1lly commented on #34
Hi @tim-hellhake,

Thanks for the suggestions. In the console all I have is:
[code]
etc

My tasmota logs are set to info level.

I'm having issues today actuating the Tasmota device via the Gateway, so I'll try and fix that and then test the second part of your suggestion.

Cheers 🙂

[2020-08-28 19:43] tim-hellhake commented on #33
There is a Backtick just before `[17,...`

I think I need to redesign the `all` OnOffProperty.

[2020-08-28 19:45] tim-hellhake commented on #33
There is a Backtick just before `[17,...`

I can reproduce the behavior now.
Especially with the high delay, the other two properties get out of sync.

[2020-08-31 22:03] #29 closed

[2020-08-31 22:04] tim-hellhake commented on #33
The issue should be resolved with the latest update.
Did you have a chance to test it?

[2020-09-04 12:29] madb1lly opened #35 "Adding an IP address makes the adapter find two Things"
Hi @tim-hellhake,

If I add the IP address of the Tasmota device then the adapter finds two Things in the Gateway's add thing UI:

1. The device with the Tasmota ID and all the on/off and temp, humidity or dew point properties
2. A device with the IP address as the ID and only showing the on/off properties, not the temp, humidity or dew point properties.

The two devices act independently as you w

[2020-09-04 12:44] madb1lly commented on #34
Hi @tim-hellhake,

I had to remove the things, remove the adapter and start again.

I see this in the log:
[code]
And I get those other messages in the gateway internal logs as you said.

So that appears to be working. There is definitely some sort of issue which slows down my gateway when I have the UI open, so this could be causing sync problems sometimes.

Cheers 🙂

[2020-09-04 12:47] madb1lly commented on #33
Hello @tim-hellhake,

Thanks for the tip on the markdown, well-spotted.

Was your reply about the behaviour relating to this issue or #34?

Cheers 🙂

[2020-09-04 13:49] tim-hellhake commented on #33
Only to this issue 😄

[2020-09-04 14:02] tim-hellhake commented on #34
Can we close the issue or is something missing?

[2020-09-04 14:23] madb1lly commented on #33
Hi @tim-hellhake,
I meant this which you wrote:

Especially with the high delay, the other two properties get out of sync.

I've not noticed the behaviour in https://github.com/tim-hellhake/tasmota-adapter/issues/33#issue-683386958 again but I only got it working again today! I guess we can close and reopen if I find it happens again.

Cheers 🙂

[2020-09-04 14:24] madb1lly commented on #34
Hi @tim-hellhake,

I've not noticed the behaviour in https://github.com/tim-hellhake/tasmota-adapter/issues/34#issue-683400122 again but I only got it working again today! I guess we can close and reopen if I find it happens again.

Cheers 🙂

[2020-09-08 20:02] #33 closed

[2020-09-08 20:03] tim-hellhake commented on #34
Let's hope your pi run more smoothly in the future

[2020-09-08 20:03] #34 closed

[2020-09-08 20:05] tim-hellhake commented on #35
I guess the one you added manually was also discovered.
I'll add a filter for already known devices.

Ok, that's strange...

Which one is correct?

[2020-09-13 20:41] tim-hellhake commented on #35
The issue should be resolved with the latest update.
Do you still have duplicated things?

[2020-09-21 14:52] madb1lly commented on #35
Hi @tim-hellhake,

Thanks for the update. I removed both things and removed the IP address from the add-on config. I then searched for a new Thing and found the tasmota and added it. I then added the IP address to the add-on config and did another search for a new Thing and it found the Thing with the IP address, same as before.

So unfortunately I don't think it's fixed. Or have I misunderstood w

[2020-09-21 20:15] tim-hellhake commented on #35
No, it should be fixed with the latest version.
Can you please enable debug logs, restart the adapter and attach the logs to the issue?

[2020-09-22 11:45] madb1lly commented on #35
Hello @tim-hellhake,

Here's the adapter configuration:
![image](https://user-images.githubusercontent.com/25123631/93876434-25c42080-fcd7-11ea-89e0-7cf0839657a2.png)
On the Add Things page I have these entries:
![image](https://user-images.githubusercontent.com/25123631/93876521-48563980-fcd7-11ea-9639-3ca5fdedff60.png)
and
![image](https://user-images.githubusercontent.com/25123631/93876539-4e4c

[2020-09-24 22:01] tim-hellhake commented on #35
I would expect something like `Ignoring ... because ...`
Unfortunately, the IP of the discovered device is not logged, so I think I need to prepare a new update for this.

[2020-09-28 12:45] madb1lly commented on #35
Hi @tim-hellhake,

So I should test again with the new update? Same steps I used as before or would you like to do something different this time?

Cheers 🙂

[2020-09-28 12:48] tim-hellhake commented on #35
I added some new logs.
It would ne helpful if you could upload the logs after restarting the adapter.
You don't need to remove and add the devices again.

[2020-09-28 13:42] madb1lly commented on #35
Hi @tim-hellhake,

I disabled and reenabled, here are the logs after restart:

[code]

I haven't made any changes to anything else, so I still have 192.168.1.44 added manually in the add-on ocnfig and the disconnected 192.168.1.44 thing on the main page is still there. The Tasmota thing is connected and working correctly as far as I can tell.

Cheers 🙂

[2020-09-28 20:00] tim-hellhake commented on #35
According to the log, there are no manually configured devices.
Otherwise, there would be a log message like ` Creating device 192.168.1.44 (192.168.1.44)`.
That would also explain why the device is shown as disconnected.

Can you please
* delete the disconnected device in the gateway
* add `192.168.1.44` to the adapter config
* restart the adapter
* add the adapter logs to the issue

The current

[2020-09-29 12:34] madb1lly commented on #35
Hi @tim-hellhake,
I followed the steps and here are the logs:
[code]
The automatically detected device still shows as connected but no longer responds to actions. In the add new thing UI I can see 192.168.1.44 again.

After reboot the automatically detected device is now shown disconnected and 192.168.1.44 is available in the add new thing UI.

So is that all working as intended?

Note that in all

[2020-09-29 21:46] tim-hellhake commented on #35
Yeah, that's the expected behavior.
Automatically detected devices use their hostname as `id` while manually added devices use a generated `id` to allow you to reconfigure the IP address without creating a new device.
That's the reason why there are two devices.
You need to delete one of them.
If you want to use the automatically detected one you need to remove the IP from the adapter config.

Acc

[2020-09-30 10:35] madb1lly commented on #35
Hi @tim-hellhake,

Thanks for confirming.

On version 2.0.2 it says default port is 80 so I assumed if I left it as 0 (which it was, by default) then it would ignore 0 and use 80. When my add-on updates to 2.0.3 I'll test again and see if it picks up the sensor measurements this time.

Cheers 🙂

PS - I tried port 80 and it works, everything is identified.

[2020-09-30 18:09] tim-hellhake commented on #35
Nice!
Can we close the issue or is something missing?

[2020-10-01 14:12] madb1lly commented on #35
Hi @tim-hellhake,
I just tested on the latest version and port=0 defaults to port=80 and then detects all the properties fine 😃
So yes we can close it now!
Cheers 🙂

[2020-10-01 14:12] #35 closed

[2020-10-08 21:42] #13 closed

[2020-12-07 20:41] BEMSman opened #36 "Unable to have buttons 1-16 for the Sonoff RF Bridge 433"
Unable to have buttons 1-16 for the Sonoff RF Bridge 433 in Webthings Things
Bridge has been flashed with Tasmota 9.1.0.2 and configured for Sonoff Bridge (25)
It is possible to learn codes in console and the buttons will work on the bridge webpage

[2021-07-13 14:40] lerrypage opened #38 "Only Tasmota in the english-version shows power, voltage and current from the sockets with energy meter."
I am using Tasmota in a German translation in a socket with an energy meter.
The Webthings-Tasmota adapter does not show any power, voltage or current. When I install the English Tasmta version, all energy values ​​are displayed.

[2021-07-21 05:44] #38 closed

[2021-11-25 09:42] lerrypage opened #39 "Gateway hangs very often when Tasmota Plugin is activated"
I have set an interval of 5000 ms and of course a password query, but once or twice a day it no longer receives an answer from the Tasmota socket, as you can see in the log, and the whole gateway hangs until I restart it.

[2021-11-30 05:27] #39 closed